# Databases
This chapter will give a brief introduction to databases on a level sufficient for usage in the course. As many databases use SQL (Structured Query Language / "sequel") or a variation of this, we will also show SQL examples.

## Main categories
- Relational databases/SQL, e.g., MySQL, Microsoft SQL, Oracle DB
- NoSQL, e.g., Cassandra, Spark
- Graph databases
  
This list is non-exhaustive both with regard to categories and examples.

### Relational databases
- Tables with fixed attributes
    - Each column has a name and a storage type.
    - One column is defined as a key, only accepting unique values.
- Tables are connected (relations) in one of three ways:
    - __One-to-many__, one-to-one, and many-to-many
  
<img src="./SQL_relation.png" alt="SQL" style="width: 500px;"/>