# MySQL
A true and tested free relational database.

In [1]:
# Make a connection object 'conn' for the MySQL database 'u492297623_student1' on port 3306 at server 145.14.151.151 with username 'u492297623_stud1'
# and password 'Student1'.
import mysql.connector
PWD = open('../../No_sync/password_khliland','r').read()

# Establishing a connection to the MySQL database
connection = mysql.connector.connect(
    host='145.14.151.151',
    port=3306,
    user='u492297623_stud1',
    password=PWD,
    database='u492297623_student1'
)

# Creating a cursor object to execute SQL queries
cursor = connection.cursor()

FileNotFoundError: [Errno 2] No such file or directory: '../../No_sync/password_khliland'

In [2]:
# Executing the SQL query to select all data from the 'students' table
query = "SELECT * FROM students;"
cursor.execute(query)

# Fetching all the rows from the result set
result = cursor.fetchall()

# Printing the retrieved data
for row in result:
    print(row)

(1, 'John', 'Industrial Economics')
(2, 'Sandra', 'Building Physics')

In [3]:
# Insert a new row into the first_test table with the values 3, 'Pete', 'Data Science'
query = "INSERT INTO students VALUES (3, 'Pete', 'Data Science');"
cursor.execute(query)

In [4]:
# Increment the main_key and insert new data
query = "INSERT INTO students SELECT COALESCE(MAX(main_key) + 1, 1), 'Anita', 'Paramedic' FROM students;"
cursor.execute(query)

In [5]:
# Closing the cursor and the database connection
cursor.close()
connection.close()

### Exercise
Make a Python function that takes an SQL statement as input, opens a connection, executes the statement and closes the connection.